h1 {
  color: lightcoral;
}
.fruits-container li {
  color: tomato;
}
#fruits-title {
  color: black;
}
.important-places{
   color: blueviolet;
   background-color: aquamarine;
}

.yellow-bg{
   background-color: yellowgreen;
}
.letge-text{
   font-size: 2em;
}
.text-center{
   text-align: center;
}